.donate {
	margin-top: 4rem;
	border-top: 1px solid #000;
	font-size: 0.85em;
	line-height: 1.35;
    display: flex;
	align-items: center;
    flex-direction: column;
	.button {
		display: inline-block;
		background: $color-white;
    	text-transform: uppercase;
    	color: $color-black;
    	border: solid 4px $color-black;
    	margin-top: 0.85rem;
    	padding: 0.95rem 0.75rem;
    	font-size: 2rem;
    	line-height: 1;
    	font-weight: 700;
    	text-decoration: none;
    	word-break: break-all;
		box-shadow: -7px 11px 4px 0px $color-grey;
		&:hover {
			animation: hoverButton 500ms forwards;
			color: $color-blue;
			border: solid 4px $color-blue;
		}
	}
}