html, body {
	color: $color-black;
	background-color: $color-white;
}
ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
	@media #{$medium} {
		flex-direction: row;
	}
}
nav ul li {
	display: inline-block;
}
a, a:active, a:visited {
	color: $color-red;
	text-decoration: none;
	border-bottom: 1px solid $color-red;
	transition: border 100ms ease-in-out;
	&:hover {
		border-bottom: 3px solid $color-red;
	}
}
.article, .donate, .footer {
	margin: 0 auto;
	width: 80vw;
	@media #{$small} {
		width: 75vw;
	}
	@media #{$large} {
		width: 680px;
	}
}

.nav {
	&--header {
		font-family: $font-sans;
		font-weight: 700;
		font-size: ms(-1);
		text-transform: capitalize;
		a, a:active, a:visited{
			color: $color-white;
			border-bottom: 1px solid $color-white;
			&:hover {
				border-bottom: 3px solid $color-white;
			}
			&.active {
				border-bottom: 3px solid $color-white;
			}
		}
		li:not(:last-child) {
			margin-right: 1rem;
		}
	}
}
