html, body {
	color: $color-black;
	background-color: $color-white;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
nav ul li {
	display: inline-block;
}
a, a:active, a:visited {
	color: $color-red;
	&:hover {
		color: darken($color-red, 20%);
	}
}
.article, .footer {
	margin: 0 auto;
	width: 80vw;
	@media #{$small} {
		width: 75vw;
	}
	@media #{$large} {
		width: 680px;
	}
}

.nav {
	&--header {
		font-family: $font-sans;
		font-weight: 700;
		font-size: ms(-1);
		text-transform: capitalize;
		a, a:active, a:visited{
			color: $color-white;
			text-decoration: none;
			&:hover {
				color: darken($color-white, 50%);
			}
		}
		li:not(:last-child) {
			margin-right: 1rem;
		}
	}
}

