.header {
	background: darken($color-blue, 12%); /* Old browsers */
	background: -moz-linear-gradient(45deg, $color-blue 0%, $color-red 100%);
	background: -webkit-linear-gradient(45deg, $color-blue 0%, $color-red 100%);
	background: linear-gradient(45deg, $color-blue 0%, $color-red 100%);
	height: 280px;
	@media #{$medium} {
		background: url("../img/site/intersection-hero-image.jpg") no-repeat;
		background-size: cover;
		height: 380px;
	}
	@media #{$large} {
		height: 500px;
		max-height: 700px;
	}
	&__nav {
		// nav UL styles can be found in global.scss
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 80vw;
		margin: 0 auto;
		@media #{$medium} {
			flex-direction: row;
		}
		@media #{$large} {
			max-width: 1200px;
		}
	}
}
