// font sizes fariables and other adjustments can be found in the variables file.

html, body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font-serif;
    font-size: 1.15em;
    line-height: ms(2);
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-sans;
}

h1 {
    font-size: ms(4);
    line-height: ms(0);
}

h2 {
    font-size: ms(2);
    line-height: ms(0);
    margin: ms(5) 0 ms(2) 0;
}

strong, b, .strong {
    font-weight: 700;
}

.hidden {
    visibility: hidden;
    position: absolute;
    height: 0;
    width: 0;
}

p {
    margin: ms(2) 0;
    // @media #{$small} {
    // }
    // @media #{$medium} {
    // }
    // @media #{$large} {
    // }
}