$font-sans: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; 
$font-serif: "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, Georgia, serif;
$font-size: 16px;
$line-height: 140%;
$letter-spacing: -.015em;

$xsmall : "screen and (max-width: 33.9375rem)";
$small : "screen and (min-width: 34rem)";
$medium : "screen and (min-width: 48rem)";
$large : "screen and (min-width: 64rem)";
$xlarge : "screen and (min-width: 85.375rem)";

$color-black: rgb(10,09,12);
$color-grey: rgb(173,172,171);
$color-white: rgb(244,243,242);
$color-red: rgb(144,22,27);
$color-blue: rgb(23,181,218);